body {
  margin: 0;
  background-color: white;
  color: black;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

a,
a:hover,
a:active,
a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: none;
}

h1 {
  font-size: 1.7rem;
  font-weight: 400;
  letter-spacing: -0.04rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.04rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}
